@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary: #5e7ce2;
  --secondary: #ce643a;
  --dark: #102542;
  --light: #ffffff;
  --slight: #f5b3ad;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: var(--dark);
}

header {
  height: 4rem;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer {
  height: 20vh;
  width: 100vw;
  background-color: var(--dark);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 812px) {
  /* .bgSupport {
  display: flex;
  align-items: center;
  justify-content: center;
} */

  i {
    font-weight: 900;
    height: 2rem;
    width: 2rem;
  }

  header > nav {
    padding: 0 4rem;
  }

  header > nav > a {
    padding: 0 2rem;
    text-decoration: none;
    color: var(--dark);
  }

  header > h5 {
    padding: 0 4rem;
  }

  section {
    /* min-height: 100vh; */
    width: 100vw;
  }

  h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 90px;
    margin: 0;
  }

  h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 45px;
  }

  h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 27px;
  }

  h5 {
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 30px;
    color: var(--light);
  }

  h6 {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 25px;
    color: var(--primary);
  }

  p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
  }

  .modal {
    display: none;
    /* Hidden by default*/
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 3rem;
    /* border: 1px solid #888; */
    width: 60%; /* Could be more or less, depending on screen size */
  }

  .modal-content > form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modal-content > form > div {
    display: flex;
    align-items: center;
    width: 60%;
    min-width: 400px;
    margin: 0.5rem 0;
  }

  .modal-content > form > div > input {
    border: 1px solid var(--dark);
    height: 1.5rem;

    border-radius: 0.5rem;
    margin: 0;
    flex: 1;
  }

  .modal-content > form > div > p {
    flex: 1;
    margin: 0 1rem;
    text-align: right;
  }

  #one {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto;
    height: 100vh;
  }

  #one > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #one img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: 50% 0;
    overflow: hidden;
  }

  #oneone {
    flex: 1;
    align-items: flex-start;
    width: 80%;
    margin: auto;
  }

  #onetwo {
    flex: 1;
    align-items: flex-end;
  }

  button {
    background-color: var(--secondary);
    border: none;
    border-radius: 0.2rem;
    padding: 1rem 2rem;
    color: var(--light);
    font-size: 1rem;
    box-shadow: -12px 10px 0px #102542;
  }

  #two {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 25vh;
    margin: 10vh auto;
  }

  #two img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  #two > div {
    flex: 1;
    background-color: var(--light);
    margin: 2rem 0;
    padding: 1rem;
    color: var(--dark);
    /* border-radius: 0.5rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 400px;
    border: 0.2rem solid var(--dark);
    box-shadow: -12px 10px 0px var(--dark);
  }

  #two > div > .bgSupport {
    height: 8rem;
    width: 8rem;
    border-radius: 8rem;
  }

  #three img {
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    /* border-radius: 0.5rem; */
    box-shadow: -1rem 1rem 0px var(--dark);
  }

  #three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    margin: 10vh auto;
  }

  #three > div {
    width: 90%;
    margin: auto;
  }

  #three > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12vh;
  }

  #three > div > div > div {
    flex: 1;
  }

  #three > div > div > .bgSupport {
    height: 50vh;
    width: 100%;
    /* background-color: var(--primary); */
  }

  #three > div > div > .bgSupport > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #four {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 960px;
    margin: 10vh auto;
  }

  #four img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  #four > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 4rem;
  }

  #four > div > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1rem auto;
    width: 80%;
  }

  #four h5 {
    background-color: var(--dark);
    box-shadow: -0.3rem 0.3rem 0px var(--secondary);
    padding: 0.3rem 0.6rem;
    margin: 0;
  }

  #four > div > div > .bgSupport {
    height: 8rem;
    width: 8rem;
    border-radius: 8rem;
  }

  #five {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 960px;
    margin: 10vh auto;
  }

  #five > div {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #five > div > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #five > div > div > .bgSupport {
    height: 8rem;
    width: 8rem;
    border-radius: 8rem;
  }
}
@media screen and (min-device-width: 813px) {
  header {
    height: 4rem;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* .bgSupport {
  display: flex;
  align-items: center;
  justify-content: center;
} */

  i {
    font-weight: 900;
    height: 2rem;
    width: 2rem;
  }

  header > nav {
    padding: 0 4rem;
  }

  header > nav > a {
    padding: 0 2rem;
    text-decoration: none;
    color: var(--dark);
  }

  header > h5 {
    padding: 0 4rem;
  }

  section {
    /* min-height: 100vh; */
    width: 100vw;
  }

  h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 120px;
    margin: 0;
  }

  h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 60px;
  }

  h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
  }

  h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
  }

  h5 {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: var(--light);
  }

  h6 {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: var(--primary);
  }

  p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  }

  .modal {
    display: none;
    /* Hidden by default*/
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 3rem;
    /* border: 1px solid #888; */
    width: 60%; /* Could be more or less, depending on screen size */
  }

  .modal-content > form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modal-content > form > div {
    display: flex;
    align-items: center;
    width: 60%;
    min-width: 400px;
    margin: 0.5rem 0;
  }

  .modal-content > form > div > input {
    border: 1px solid var(--dark);
    height: 1.5rem;
    margin: 0;
    flex: 1;
  }

  .modal-content > form > div > p {
    flex: 1;
    margin: 0 1rem;
    text-align: right;
  }

  #one {
    display: flex;
    /* max-width: 1440px; */
    margin: 0 auto;
  }

  #one > div {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  #oneone {
    flex: 2;
  }

  #onetwo {
    flex: 3;
  }

  #one img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 0;
    overflow: hidden;
  }

  button {
    background-color: var(--secondary);
    border: none;
    padding: 1rem 2rem;
    color: var(--light);
    font-size: 1rem;
    box-shadow: -12px 10px 0px #102542;
  }

  #two {
    display: flex;
    min-height: 25vh;
    max-width: 1440px;
    margin: 10vh auto;
  }

  #two > div {
    flex: 1;
    background-color: var(--light);
    margin: 0 2rem;
    padding: 1rem;
    color: var(--dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.2rem solid var(--dark);
    box-shadow: -12px 10px 0px var(--dark);
  }

  #two > div > .bgSupport {
    height: 8rem;
    width: 8rem;
    border-radius: 8rem;
  }

  #two img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  #three img {
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border: 0.2rem solid var(--dark);
    box-shadow: -1rem 1rem 0px var(--dark);
  }

  #three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 10vh auto;
  }

  #three > div {
    width: 100%;
  }

  #three > div > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12vh;
  }

  #three > div > div > div {
    flex: 1;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #three > div > div > .bgSupport {
    height: 50vh;
    /* background-color: var(--primary); */
  }

  #four {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 2vh auto;
  }

  #four h5 {
    background-color: var(--dark);
    box-shadow: -0.3rem 0.3rem 0px var(--secondary);
    padding: 0.3rem 0.6rem;
    margin: 0;
  }

  #four > div {
    display: flex;
    width: 100%;
    margin-top: 4rem;
  }

  #four > div > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* box-shadow: -0.3rem 0.3rem 0px var(--secondary); */
  }

  #four > div > div > .bgSupport {
    height: 8rem;
    width: 8rem;
    border-radius: 8rem;
    margin-bottom: 2rem;
  }

  #four img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  #five {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 2vh auto;
    min-height: 50vh;
  }

  #five > div {
    display: flex;
    width: 100%;
  }

  #five > div > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.headDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.lineDiv {
  height: 0.1rem;
  width: 2rem;
  background-color: var(--dark);
  margin: 0 2rem;
}
